@import 'itemCard.scss';
@import 'container.scss';
@import 'fonts.scss';


* {
  box-sizing: border-box;
}


body {
  font-size: 10px;
  //font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 10px, 0;
  font-family: 'Fredoka One';
  font-size: 24px;
}


h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

#loginlogo {
  margin-top: 100px;
}



.appHeader {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  //margin-top: 10px;
  margin-bottom: 30px;
}


.Page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MoveToFridgeBtn{
  max-width: 5px;
  height: auto;
  justify-content: center;
  align-items: center;
}